doctype html
html(lang='en')
    head
        meta(http-equiv='X-UA-Compatible', content='IE=edge; charset=UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale=1)

        title NodeCG Dashboard

        //- Web Component support
        script(src='/components/webcomponentsjs/webcomponents-lite.min.js')

        //- import Polymer elements
        link(rel='import', href='/components/iron-icon/iron-icon.html')
        link(rel='import', href='/components/iron-icons/communication-icons.html')
        link(rel='import', href='/components/iron-icons/iron-icons.html')
        link(rel='import', href='/components/paper-dialog/paper-dialog.html')
        link(rel='import', href='/components/paper-button/paper-button.html')
        link(rel='import', href='/components/paper-checkbox/paper-checkbox.html')
        link(rel='import', href='/components/paper-drawer-panel/paper-drawer-panel.html')
        link(rel='import', href='/components/paper-icon-button/paper-icon-button.html')
        link(rel='import', href='/components/paper-input/paper-input.html')
        link(rel='import', href='/components/paper-item/paper-item.html')
        link(rel='import', href='/components/paper-item/paper-item-body.html')
        link(rel='import', href='/components/paper-header-panel/paper-header-panel.html')
        link(rel='import', href='/components/paper-styles/paper-styles.html')
        link(rel='import', href='/components/paper-styles/paper-styles-classes.html')
        link(rel='import', href='/components/paper-toast/paper-toast.html')
        link(rel='import', href='/components/paper-toolbar/paper-toolbar.html')

        //- our custom dashboard panel container
        link(rel='import', href='/dashboard/elements/ncg-dashboard-panel.html')
        link(rel='import', href='/dashboard/elements/ncg-dialog.html')

        //- dashboard CSS
        link(rel='stylesheet', href='/dashboard/dashboard.css')

        //- make the global config available
        script(type='text/javascript').
            window.ncgConfig = !{ JSON.stringify(ncgConfig) };

        //- make the API available
        script(src='/ncg-api.js')

        //- initialize the socket
        script(src='/components/cookies-js/dist/cookies.min.js')
        script(src='/components/cn-jsurl/url.min.js')
        script(src='/socket.io/socket.io.js')
        script(type='text/javascript').
            var url = new Url;
            window.token = url.query.key || Cookies.get('socketToken');
            if (window.token) {
                window.socket = io.connect('//' + window.ncgConfig.baseURL + '/', {
                    query: 'token=' + window.token
                });
            }
            else {
                window.socket = io.connect('//' + window.ncgConfig.baseURL + '/');
            }

        //- other dashboard scripts
        script(src='/components/draggabilly/dist/draggabilly.pkgd.min.js')
        script(src='/components/packery/dist/packery.pkgd.min.js')
        script(src='/components/zeroclipboard/dist/ZeroClipboard.min.js')
        script(src='/components/iframe-resizer/js/iframeResizer.min.js')
        script(src='/components/imagesloaded/imagesloaded.pkgd.min.js')
        script(src='/dashboard/panels.js')
        script(src='/dashboard/dashboard.js')

        //- custom styles for Polymer
        style(is='custom-style').
            * {
                --default-primary-color: #00bebe;
            }

    body.fullbleed.vertical.layout
        paper-header-panel.flex
            paper-toolbar
                span.flex: img.logo(src='/dashboard/img/navbar-logo.png' alt='NodeCG dashboard' title='NodeCG dashboard')
                if ncgConfig.login.enabled
                    paper-icon-button#logout(icon='exit-to-app', alt='Sign Out')
            #panels
                each bundle in bundles
                    each panel in bundle.dashboard.panels
                        if panel.modal
                            ncg-dialog(class='dashboard-panel width-' + panel.width,
                                id=bundle.name + '_' + panel.name, bundle=bundle.name, panel=panel.name, modal)
                                iframe(src='/panel/#{bundle.name}/#{panel.name}',
                                    frameborder='0', scrolling='no', style='width: 100%')
                        else
                            ncg-dashboard-panel(class='dashboard-panel width-' + panel.width, title=panel.title,
                                id=bundle.name + '_' + panel.name, bundle=bundle.name, panel=panel.name)
                                iframe(src='/panel/#{bundle.name}/#{panel.name}',
                                    frameborder='0', scrolling='no', style='width: 100%')

        //- Used by packery to establish the width of the columns
        #grid-sizer(class="width-1")

        paper-toast.paper-font-body1#socket-error(text='Unhandled socket error!')
        paper-toast.paper-font-body1#socket-disconnected(text='Lost connection to NodeCG server!')
        paper-toast.paper-font-body1#socket-reconnectattempt(text='Attempting to reconnect to NodeCG server...')
        paper-toast.paper-font-body1#socket-reconnected(text='Reconnected to NodeCG server!')
        paper-toast.paper-font-body1#socket-reconnectfailed(text='Failed to reconnect to NodeCG server!')

        //- key overlay
        if ncgConfig.login.enabled
            paper-dialog#keyDialog(modal)
                h2 NodeCG Key
                code.paper-font-code1#key
                p.text-warning.paper-font-body1
                    | Resetting your key will disrupt all current sessions using it.<br/>
                    | When you reset your key, the dashboard will be refreshed so that a new key can be obtained.

                .buttons
                    paper-button(dialog-dismiss) Close
                    paper-button#copyKey(data-clipboard-target='key' autofocus)
                        iron-icon(icon='icons:content-copy')
                        | &ensp;Copy Key
                    paper-button#resetKey
                        iron-icon(icon='icons:refresh')
                        | &ensp;Reset Key
