doctype html
html(lang='en')
    head
        meta(http-equiv='X-UA-Compatible', content='IE=edge; charset=UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale=1)

        title NodeCG Dashboard

        //- import Polymer elements
        link(rel='import', href='/components/iron-icon/iron-icon.html')
        link(rel='import', href='/components/iron-icons/communication-icons.html')
        link(rel='import', href='/components/iron-icons/image-icons.html')
        link(rel='import', href='/components/iron-icons/iron-icons.html')
        link(rel='import', href='/components/paper-dialog/paper-dialog.html')
        link(rel='import', href='/components/paper-button/paper-button.html')
        link(rel='import', href='/components/paper-icon-button/paper-icon-button.html')
        link(rel='import', href='/components/paper-item/paper-item.html')
        link(rel='import', href='/components/paper-item/paper-item-body.html')
        link(rel='import', href='/components/paper-header-panel/paper-header-panel.html')
        link(rel='import', href='/components/paper-styles/paper-styles.html')
        link(rel='import', href='/components/paper-styles/paper-styles-classes.html')
        link(rel='import', href='/components/paper-toast/paper-toast.html')
        link(rel='import', href='/components/paper-toolbar/paper-toolbar.html')
        link(rel='import', href='/components/paper-menu-button/paper-menu-button.html')

        //- our custom dashboard elements
        link(rel='import', href='/dashboard/elements/ncg-dashboard-panel.html')
        link(rel='import', href='/dashboard/elements/ncg-dialog.html')
        link(rel='import', href='/dashboard/elements/ncg-single-instance.html')

        //- dashboard CSS
        link(rel='stylesheet', href='/dashboard/dashboard.css')
        link(rel='import', href='/dashboard/style/nodecg-styles.html')

        //- Web Component support
        script(src='/components/webcomponentsjs/webcomponents-lite.min.js')

        //- Polyfills and Shims
        script(src='/components/observe-shim/lib/observe-shim.js')
        script(src='/shims/WeakMap.js')

        //- make the global config available
        script(type='text/javascript').
            window.ncgConfig = !{ JSON.stringify(ncgConfig) };

        //- make the API available
        script(src='/nodecg-api.js')

        //- initialize the socket
        script(src='/components/cookies-js/dist/cookies.min.js')
        script(src='/components/cn-jsurl/url.min.js')
        script(src='/socket.io/socket.io.js')
        script(type='text/javascript').
            var url = new Url;
            window.token = url.query.key || Cookies.get('socketToken');
            if (window.token) {
                window.socket = io.connect('//' + window.ncgConfig.baseURL + '/', {
                    query: 'token=' + window.token
                });
            } else {
                window.socket = io.connect('//' + window.ncgConfig.baseURL + '/');
            }

        //- custom styles for Polymer
        style(is='custom-style').
            * {
                --default-primary-color: #00bebe;
            }

    body.fullbleed.vertical.layout
        paper-header-panel.flex
            paper-toolbar
                span.title
                    img.logo(src='/dashboard/img/navbar-logo.png' alt='NodeCG dashboard' title='NodeCG dashboard')
                //-paper-menu-button
                    paper-button.dropdown-trigger
                        iron-icon(icon="check")
                        span Graphics
                    paper-menu.dropdown-content
                        each bundle in bundles
                            each graphic in bundle.graphics
                                paper-item
                                    a(href=graphic.url target='_blank')= bundle.name + '/' + graphic.file
                paper-button.paper-font-button#showInstances(alt='Single Instances')
                    iron-icon(icon='image:looks-one')
                    | &ensp;Single Instances
                if ncgConfig.login.enabled
                    paper-button.paper-font-button#showKey(alt='View Key')
                        iron-icon(icon='communication:vpn-key')
                        | &ensp;View Key
                    paper-icon-button.paper-font-button#logout(icon='exit-to-app', alt='Sign Out')
            #panels
                each bundle in bundles
                    each panel in bundle.dashboard.panels
                        if !panel.dialog
                            ncg-dashboard-panel(class='dashboard-panel width-' + panel.width, display-title=panel.title,
                                id=bundle.name + '_' + panel.name, bundle=bundle.name, panel=panel.name,
                                header-color=panel.headerColor)
                                iframe(src='/panel/#{bundle.name}/#{panel.name}',
                                    frameborder='0', scrolling='no', style='width: 100%')
        #dialogs
            each bundle in bundles
                each panel in bundle.dashboard.panels
                    if panel.dialog
                        ncg-dialog(class='dashboard-panel width-' + panel.width, with-backdrop,
                            id=bundle.name + '_' + panel.name, bundle=bundle.name, panel=panel.name)
                            iframe(src='/panel/#{bundle.name}/#{panel.name}',
                                frameborder='0', scrolling='no', style='width: 100%')

        //- Used by packery to establish the width of the columns
        #grid-sizer(class="width-1")

        paper-toast.paper-font-body1#socket-error(text='Unhandled socket error!')
        paper-toast.paper-font-body1#socket-disconnected(text='Lost connection to NodeCG server!')
        paper-toast.paper-font-body1#socket-reconnectattempt(text='Attempting to reconnect to NodeCG server...')
        paper-toast.paper-font-body1#socket-reconnected(text='Reconnected to NodeCG server!')
        paper-toast.paper-font-body1#socket-reconnectfailed(text='Failed to reconnect to NodeCG server!')

        //- key overlay
        if ncgConfig.login.enabled
            paper-dialog#keyDialog(modal)
                h2 NodeCG Key
                code.paper-font-code1#key
                p.text-warning.paper-font-body1
                    | Resetting your key will disrupt all current sessions using it.<br/>
                    | When you reset your key, the dashboard will be refreshed so that a new key can be obtained.

                .buttons
                    paper-button(dialog-dismiss) Close
                    paper-button#copyKey(data-clipboard-target='key' autofocus)
                        iron-icon(icon='icons:content-copy')
                        | &ensp;Copy Key
                    paper-button#resetKey
                        iron-icon(icon='icons:refresh')
                        | &ensp;Reset Key

        //- singleInstance management dialog
        paper-dialog#singleInstanceDialog(modal)
            h2 Active Single-Instance Graphics
            div
                #instancesList
                #instancesList-empty
                    span No single-instance graphics are currently open.
            .buttons
                paper-button(dialog-dismiss) Close

    //- other dashboard scripts
    script(src='/components/draggabilly/dist/draggabilly.pkgd.min.js')
    script(src='/components/packery/dist/packery.pkgd.min.js')
    script(src='/components/zeroclipboard/dist/ZeroClipboard.min.js')
    script(src='/components/iframe-resizer/js/iframeResizer.min.js')
    script(src='/components/imagesloaded/imagesloaded.pkgd.min.js')
    script(src='/dashboard/panel_packery.js')
    script(src='/dashboard/dashboard.js')
    script(src='/dashboard/single_instances.js')
