doctype html
html(lang='en')
    head
        meta(http-equiv='X-UA-Compatible', content='IE=edge; charset=UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale=1)

        title NodeCG Dashboard

        //- Web Component support
        script(src='/components/webcomponentsjs/webcomponents-lite.min.js')

        //- import Polymer elements
        link(rel='import', href='/components/iron-icon/iron-icon.html')
        link(rel='import', href='/components/iron-icons/communication-icons.html')
        link(rel='import', href='/components/iron-icons/iron-icons.html')
        link(rel='import', href='/components/iron-overlay-behavior/iron-overlay-behavior.html')
        link(rel='import', href='/components/paper-button/paper-button.html')
        link(rel='import', href='/components/paper-checkbox/paper-checkbox.html')
        link(rel='import', href='/components/paper-drawer-panel/paper-drawer-panel.html')
        link(rel='import', href='/components/paper-icon-button/paper-icon-button.html')
        link(rel='import', href='/components/paper-input/paper-input.html')
        link(rel='import', href='/components/paper-item/paper-item.html')
        link(rel='import', href='/components/paper-item/paper-item-body.html')
        link(rel='import', href='/components/paper-header-panel/paper-header-panel.html')
        link(rel='import', href='/components/paper-styles/paper-styles.html')
        link(rel='import', href='/components/paper-styles/paper-styles-classes.html')
        link(rel='import', href='/components/paper-toast/paper-toast.html')
        link(rel='import', href='/components/paper-toolbar/paper-toolbar.html')

        //- our custom dialog (until paper-dialog comes back?)
        link(rel='import', href='/dashboard/elements/nodecg-dialog.html')

        //- dashboard CSS
        link(rel='stylesheet', href='/dashboard/dashboard.css')

        //- make the global config available
        script(type='text/javascript').
            window.ncgConfig = !{ JSON.stringify(ncgConfig) };

        //- make the API available
        script(src='/nodecg-api.js')

        //- initialize the socket
        script(src='/components/cookies-js/dist/cookies.min.js')
        script(src='/components/cn-jsurl/url.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/nodecg-socket.js')

        //- other dashboard scripts
        script(src='/components/draggabilly/dist/draggabilly.pkgd.min.js')
        script(src='/components/packery/dist/packery.pkgd.min.js')
        script(src='/components/zeroclipboard/dist/ZeroClipboard.min.js')
        script(src='/components/iframe-resizer/js/iframeResizer.min.js')
        script(src='/components/imagesloaded/imagesloaded.pkgd.min.js')
        script(src='/dashboard/panels.js')
        script(src='/dashboard/dashboard.js')

        //- custom styles for Polymer
        style(is='custom-style').
            * {
                --default-primary-color: #00bebe;
            }

    body.fullbleed.vertical.layout
        paper-header-panel.flex
            paper-toolbar
                span.flex: img.logo(src='/dashboard/img/navbar-logo.png' alt='NodeCG dashboard' title='NodeCG dashboard')
                if ncgConfig.login.enabled
                    paper-icon-button#logout(icon='exit-to-app', alt='Sign Out')
            paper-drawer-panel
                #utils(drawer)
                    if ncgConfig.login.enabled
                        h2.paper-font-title Key
                        p.paper-font-body1 This key will grant unrestricted access to NodeCG. Do NOT share it with other people!
                        paper-button.paper-font-button#showKey(alt='View Key')
                            iron-icon(icon='communication:vpn-key')
                            | &ensp;View Key

                    h2.paper-font-title Display
                    h3.paper-font-subhead Resolution
                    paper-input#displayWidth(auto-validate, type='number', required, error-message='must be valid width', placeholder='width', value=1280)
                    paper-input#displayHeight(auto-validate, type='number', required, error-message='must be valid width', placeholder='height', value=720)
                    h3.paper-font-subhead Views
                    div#displayViews
                        each bundle in bundles
                            each view in bundle.display.views
                                paper-item.displayView
                                    paper-item-body
                                        div= view.name
                                        div(secondary)= bundle.name
                                    paper-checkbox(checked, value=bundle.name + ':' + view.name)
                    h3.paper-font-subhead Display
                    paper-button.paper-font-button#openDisplay(alt='Open Display')
                        iron-icon(icon='icons:launch')
                        | &ensp;Open
                    paper-button.paper-font-button#copyDisplayURL(alt='Copy Display URL')
                        iron-icon(icon='icons:link')
                        | &ensp;Copy URL

                #panels(main)
                    each bundle in bundles
                        each panel in bundle.dashboard.panels
                            iframe(src='/panels/#{bundle.name}/#{panel.name}', frameborder='0', scrolling='no'
                                id=bundle.name + '_' + panel.name, class='dashboard-panel width-' + panel.width,
                                data-bundle=bundle.name, data-panel=panel.name)

        //- Used by packery to establish the width of the columns
        #grid-sizer(class="width-1")

        paper-toast.paper-font-body1#socket-error(text='Unhandled socket error!')
        paper-toast.paper-font-body1#socket-disconnected(text='Lost connection to NodeCG server!')
        paper-toast.paper-font-body1#socket-reconnectattempt(text='Attempting to reconnect to NodeCG server...')
        paper-toast.paper-font-body1#socket-reconnected(text='Reconnected to NodeCG server!')
        paper-toast.paper-font-body1#socket-reconnectfailed(text='Failed to reconnect to NodeCG server!')

        //- key overlay
        if ncgConfig.login.enabled
            nodecg-dialog#keyDialog(with-backdrop)
                paper-material
                    .panel-heading.green.paper-font-headline
                        iron-icon(icon='communication:vpn-key')
                        | &ensp;NodeCG Key
                    .panel-body.paper-font-body1
                        code.paper-font-code1#key
                        paper-button#copyKey(data-clipboard-target='key')
                            iron-icon(icon='icons:content-copy')
                            | &ensp;Copy Key

                        h2.paper-font-subhead Reset Key
                        p.text-warning.paper-font-body1 Resetting your key will disrupt all current sessions using it. When you reset your key, the dashboard will be refreshed so that a new key can be obtained.
                        paper-button.paper-font-button#resetKey(alt='Reset Key')
                            iron-icon(icon='icons:refresh')
                            | &ensp;Reset Key
