each bundle in bundles
	if (bundle.uploadCategories && bundle.uploadCategories.length > 0)
		paper-card.ncg-card
			.card-content
				h2=bundle.name
				if (bundle.hasAssignableSoundCues)
					ncg-uploads.uploads-category(bundle-name=bundle.name, category-name='sounds',
					category-title="Sounds", allowed-types="[\"mp3\",\"ogg\"]")
					.uploads-divider
				each category in bundle.uploadCategories
					- var strinigifiedTypes = JSON.stringify(category.allowedTypes)
					ncg-uploads.uploads-category(bundle-name=bundle.name, category-name=category.name,
					category-title=category.title, allowed-types=strinigifiedTypes)
					.uploads-divider
