// Half-implemented idea, can use this to help write a bundle's panel in Jade if you want.
// Probably going away soon.

block vars
div(id=id, class='panel panel-default panel-span-#{ width }')
    .panel-heading
        h3.panel-title= title
        i(class='fa #{ faIcon } panel-icon')
    .panel-body
        block panel-body


mixin panels(bndl)
    each panel in bndl.dashboard.panels
    div(id=bndl.name + '_' + panel.name, class='panel panel-default panel-span-#{ panel.width }')
        .panel-heading
            h3.panel-title=panel.title
            +panelInfoBtn(panel)
        //- The body was rendered from Jade into HTML earlier, during bundle parsing
        //- This is inefficient, as it means we are doing two rendering passes for each bundle:
        //- Once to render the body, once to render the rest of the panel (container + header).
        //- However, I see no other way to do it as Jade is a compile-time language and does not
        //- support dynamic includes.
        .panel-body!=panel.body

mixin panelInfoBtn(panel)
    button.btn.btn-xs.btn-info.panel-info(type="button",
    data-toggle="popover",
    data-title=panel.title,
    data-html=true,
    data-placement="bottom",
    data-content="<a target='_blank' href='#{ panel.viewUrl }'>#{ panel.viewUrl }</a>")
        i.fa.fa-info
